<center>
<b>How did this activity make you feel?</b>
<br>


<p>
Happy
<img border="0" src="Happy.jpg" width="100" height="100">

</p>  

</body>
</html>

<!DOCTYPE html>
<html>
<body>

<p>
Mad
<img border="0" alt="Mad" src="Angry.jpg" width="100" height="100">

</p>

</body>
</html>

<!DOCTYPE html>
<html>
<body>

<p>
Tired
<img border="0" alt="Tired" src="tired.jpg" width="100" height="100">

</p>

</body>
</html>

<!DOCTYPE html>
<html>
<body>

<p>
Sad <a href="https://www.w3schools.com">
<img border="0" alt="Sad" src="sad.jpg" width="100" height="100">
</a>
</p>

</body>
</html>
