<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">
</script>
<body ng-app="game1">

    <div ng-controller="myCtrl">
      <center>
      <b>Game 2</b>
      <br>
      <b>Which word is in this picture?</b>
      <br>

          <h3>What is in this picture?</h3>
          <input type="radio" name="question0" value="A">Pen<br>
          <input type="radio" name="question0" value="B">Pencil<br>
          <input type="radio" name="question0" value="C">Paper<br>
          <img border="0" alt="Happy" src="Pen.jpg" width="100" height="100">


          <h3>What is in this picture?</h3>
          <input type="radio" name="question1" value="A">Carrot<br>
          <input type="radio" name="question1" value="B">Corn<br>
          <input type="radio" name="question1" value="C">Celery<br>
          <img border="0" alt="Happy" src="Carrot.jpg" width="100" height="100">


          <h3>What is in this picture?</h3>
          <input type="radio" name="question2" value="A">Cat<br>
          <input type="radio" name="question2" value="B">Cow<br>
          <input type="radio" name="question2" value="C">Dog<br>
          <img border="0" alt="Happy" src="Dog.jpg" width="100" height="100">

          <h3>What is in this picture?</h3>
          <input type="radio" name="question2" value="A">Happy<br>
          <input type="radio" name="question2" value="B">Angry<br>
          <input type="radio" name="question2" value="C">Tired<br>
          <input type="radio" name="question2" value="C">Sad<br>

          <img border="0" alt="Happy" src="sad.jpg" width="100" height="100">

          <FORM METHOD="LINK" ACTION="game3">
              <INPUT TYPE="submit" VALUE="Clickable Button">
            </FORM>

    </div>


  <script>
angular.module('game1', [])
  .controller('myCtrl', ['$scope', '$http', function($scope, $http) {

    };
  }]);
</script>

</body>
</html>
