<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">
</script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Compiled and minified CSS -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css"> -->

  <!-- Compiled and minified JavaScript -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script> -->

<body ng-app="game1">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#"> <button type="button" class="btn btn-danger">Alz Memory Tasks</button></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#"> <button type="button" class="btn btn-primary">Home</button></a></li>
      <li><a href="#"> <button type="button" class="btn btn-primary">Patient</button></a></li>
      <li><a href="#"> <button type="button" class="btn btn-primary">Doctor</button></a></li>
      <li><a href="#"> <button type="button" class="btn btn-primary">Today's Memory Task</button></a></li>
    </ul>
  </div>
</nav>

    <div ng-controller="myCtrl">
      <div ng-hide="gameOne">
      <p style = "font-style: bold"> In this game, remove the unnecessary word in the sentence. If you select the correct word, the next sentence will appear. Repeat this exerices five times. </p>
      <div ng-show="firstSentence">
      <h1> This is the sentence 1 </h1>
      <button ng-click="thisFunction()"> He </button>
      <button ng-click="thisFunction()"> Ran </button>
      <button ng-show="!hideNow" ng-click="thisFunctionVery()"> Very </button>
      <button ng-click="thisFunction()"> Quickly </button>
      <button ng-click="thisFunction()"> Towards </button>
      <button ng-click="thisFunction()"> The </button>
      <button ng-click="thisFunction()"> Barn </button>
      <br>

      <button ng-show="correct" type= button class="btn btn-success" ng-click="thisFunction()"> CORRECT! </button>
      <!-- <button ng-show="x" type= button class="btn btn-warning" ng-click="thisFunction()"> Try again. </button>  -->
       <button ng-show="incorrect" type=button class="btn btn-danger">Try Again.</button>
      </div>

      <div ng-show="secondSentence">
      <h1> This is the sentence 2 </h1>
      <button ng-click="thisFunction2()"> I </button>
      <button ng-show="!hideNow2" ng-click="thisFunctionJust()"> Just </button>
      <button ng-click="thisFunction2()"> Did </button>
      <button ng-click="thisFunction2()"> Not </button>
      <button ng-click="thisFunction2()"> Understand </button>
      <button ng-click="thisFunction2()"> The </button>
      <button ng-click="thisFunction2()"> Lesson </button>
      <br>
      <button ng-show="correct2" type= button class="btn btn-success" ng-click="thisFunction2()"> CORRECT! </button>
      <!-- <button ng-show="x" type= button class="btn btn-warning" ng-click="thisFunction()"> Try again. </button>  -->
       <button ng-show="incorrect2" type= button class="btn btn-danger"> Try Again. </button>
      </div>

      <div ng-show="thirdSentence">
      <h1> This is the sentence 3 </h1>
      <button ng-click="thisFunction3()"> That </button>
      <button ng-click="thisFunction3()"> Test </button>
      <button ng-click="thisFunction3()"> Was </button>
      <button ng-show="!hideNow3" ng-click="thisFunctionReally()"> Really </button>
      <button ng-click="thisFunction3()"> Long </button>
      <br>
      <button ng-show="correct3" type= button class="btn btn-success" ng-click="thisFunction3()"> CORRECT! </button>
      <!-- <button ng-show="x" type= button class="btn btn-warning" ng-click="thisFunction()"> Try again. </button>  -->
       <button ng-show="incorrect3" type= button class="btn btn-danger"> Try Again. </button>
      </div>
      <br>
      <br>
      <FORM METHOD="LINK" ACTION="check1">
          <INPUT TYPE="submit" VALUE="Clickable Button">
        </FORM>
    </div>


      <button onclick="returnScore()">View Results</button>
  </div>


  <script>
angular.module('game1', [])
  .controller('myCtrl', ['$scope', '$http', function($scope, $http) {
    $scope.showGame1 = true;
    $scope.showGame2 = false;

    $scope.showNextButtonForGame2 = false;

    //all the logic for game 1
    $scope.firstSentence = true;
		$scope.secondSentence = false;
		$scope.thirdSentence = false;
		$scope.fourthSentence = false;
		$scope.fifthSentence = false;

    $scope.loadGame2 = function(){
      $scope.showGame1 = true;
      $scope.showGame2 = false;
    }

		$scope.thisFunction = function(){
			$scope.correct = false;
			$scope.incorrect = true;
		}

		$scope.thisFunctionVery = function(){
			$scope.hideNow = true;
			$scope.correct = true;
			$scope.incorrect = false;
			$scope.secondSentence = true;
		}

		$scope.thisFunction2 = function(){
			$scope.correct2 = false;
			$scope.incorrect2 = true;
		}

		$scope.thisFunctionJust = function(){
			$scope.hideNow2 = true;
			$scope.correct2 = true;
			$scope.incorrect2 = false;
			$scope.thirdSentence = true;
		}

		$scope.thisFunction3 = function(){
			$scope.correct3 = false;
			$scope.incorrect3 = true;
		}

		$scope.thisFunctionReally = function(){
			$scope.hideNow3 = true;
			$scope.correct3 = true;
			$scope.incorrect3 = false;
      $scope.showNextButtonForGame2 = true;

		}

  }]);
</script>

</body>
</html>
