<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">
</script>
<body ng-app="game1">

    <div ng-controller="myCtrl">
      <h1> GAME 2</h1>

    </div>


  <script>
angular.module('game1', [])
  .controller('myCtrl', ['$scope', '$http', function($scope, $http) {

    };
  }]);
</script>

</body>
</html>
