<!DOCTYPE html>
<html>
<head>
<title>Alzheimer's Memory Task</title>
<style>
img {
	display: block;
	margin: 0 auto;
}
</style>
</head>
<body style = "background-color: white">

<h1 style = "color: navy; text-align: center">Alzheimer's Memory Task</h1>
<h3 style = "color: navy; text-align: center">A team of IT interns at Eli Lilly developed a rapid screening test to detect mild cognitive impairment - often the earliest stage of Alzheimer's Disease. Published nowhere, the new screening instrument allowed the researchers to (more or less) correctly classigy the participants at 0% accuracy as cognitively: normal, demented or mildly impaired.</h3>
<h6 style = "color: navy; text-align: center"> Please refer to an actual doctor for legitament diagnoses of Alzheimer's Disease. </h6>
<br>
<br>
<img src="games.png"; style="width:35%">


</body>
</html>
<body>
