<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">
</script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body ng-app="game1">

    <div ng-controller="myCtrl">
      <h1> This is the results page </h1>

  <div class="container">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Paitent Name</th>
          <th>Date</th>
          <th>Game</th>s
          <th>Errors</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Sophie Lopez</td>
          <td>03/18/2017</td>
          <td>Sentence</td>
          <td>3</td>
          <td>23:30s</td>
        </tr>
        <tr>
          <td>Sophie Lopez</td>
          <td>03/18/2017</td>
          <td>Sentence</td>
          <td>3</td>
          <td>23:30s</td>
        </tr>
        <tr>
          <td>Sophie Lopez</td>
          <td>03/18/2017</td>
          <td>Sentence</td>
          <td>3</td>
          <td>23:30s</td>
        </tr>
        <tr>
          <td>{{title}}</td>
          <td>{{date}}</td>
          <td>hello</td>
          <td>3</td>
          <td>23:30s</td>
        </tr>
      </tbody>
    </table>
  </div>

    </div>


  <script>
angular.module('game1', [])
  .controller('myCtrl', ['$scope', '$http', function($scope, $http) {

      $scope.name = "Seth Winslow";
      $scope.date = "03/20/2017";
      $scope.game = "Color";
      $scope.errors = "3";
      $scope.time = "23.23s";
    };
  }]);
</script>

</body>
</html>
